
section {
    background: darkorange;
    height: 100%;
    padding: 16px;
    border: 1px solid lightgray;
}
form {
    height: 100%;
}
label, input {
    display: block;
}
#first-name {
    border-radius: 8px;
    border: 1px solid lightgray;
    width: 300px;
}
#email {
    border-radius: 8px;
    border: 1px solid lightgray;
    width: 300px;
}
.howdoyoulikemyjournal {
    color: white;
}
button {
    border-radius: 8px;
    border: 1px solid lightgray;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

#message {
    width: 300px;
    resize: none;
    border-radius: 8px;
    border: 1px solid lightgray;
}
.container {
    margin: 16px 0 16px 0;
}

li, a {
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: deeppink;
    text-decoration: none;
}
* {
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 70px;
    background-color: #D4FFD0;
    display: flex;
    flex-direction: column;
}

header {
    align-items: left;
    padding: 1px 10%;
    background-color: pink;
}
.nav-links {
    list-style: none;
}
.nav-links li{
    padding: 1px 20px;
}
.nav-link li a {
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
    color: yellow;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    color: white;
}
.banner {
    position: relative;
    background-image: url("assets/travheader.png");
    background-repeat: round;
}
.banner h1 {
    text-align: left;
    font-size: 48px;
    color: deeppink;
    margin: 1.5 0px;
    margin-left: 20px;
}
.column {
    flex: 50%;
}
.left-column {
    float: left;
    width: 75%;
}
.row:after {
    content: "";
    display: flex;
    clear: both;
}
.right-column {
    width: 25%;
    float: right;
    padding-left: 20px;
    margin-top: 20px;
}
.card {
    padding: 20px;
    background-color: white;
    margin-top: 20px;
}
.card img {
    width: 990px;
    height: 600px;
}
.profile-card {
    padding: 20px;
    background-color: white;
}
footer {
    background-color: lightpink;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}
